{% extends "layout.html" %}
{% block content %}

	<h3>Por favor, insira o seu review:</h3>
	<!--Importando formhelpers -->
	  {% from "_formhelpers.html" import render_field %}

	  <form method=post action="/results">
	  <dl>
	  <!-- Esta macro é usada para renderizar a TextAreaField quando o usuario fornecer um review e 
	  mostra o botão de submit review. O TextAreaField possui 30 colunas e 10 linhas -->
	    {{ render_field(form.moviereview, cols='30', rows='10') }}
	  </dl>
	  <div>
	    <input type=submit value='Submit Review'
	    name='submit_btn'>
	  </div>
	  </form>
	  <p>  </p>
	  <h4><b>OBS:</b></h4>
        <p>O modelo foi treinado com uma base em inglês, por tanto terá um desempenho mais acurado com textos neste idioma</p>

{% endblock content %}
